<div class="col-md-12 ">
    <h4>
        Nilai Ekonomis
    </h4>
    <hr>
    <div class="col-md-6 ">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-6 control-label">Umur Ekonomis Bangunan</label>
                <div class="col-sm-6">
<!--                    <select class="form-control" ng-model="xxx" ng-options="x.MS_PARA_GLOBAL_DETAIL_ID as (x.MS_DESKRIPSI) for x in $root.jns_usaha">
                        <option></option>
                    </select>-->
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="fdBTB.NILAI_EKONOMIS_UMUR_EKONOMIS_BANGUNAN" ui-number-mask="0" ng-disabled="fdBTB.LOCK_PENYUSUTAN == 1" />
                            <span class="input-group-addon">Tahun </span>
                        </div>                   
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-6 control-label">Umur Efektif Bangunan</label>
                <div class="col-sm-6">
<!--                    <select class="form-control" ng-model="xxx" ng-options="x.MS_PARA_GLOBAL_DETAIL_ID as (x.MS_DESKRIPSI) for x in $root.jns_usaha">
                        <option></option>
                    </select>-->
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="fdBTB.NILAI_EKONOMIS_UMUR_EFEKTIF_BANGUNAN" ui-number-mask="0" disabled/>
                        <span class="input-group-addon">Tahun </span>
                    </div>                   
                </div>
            </div>
        </form>
    </div>
</div>
<div class="col-md-12 ">
    <h4>
        Penyusutan
    </h4>
    <hr>
    <div class="col-md-6">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-6 control-label">Kemunduran Fisik</label>
                <div class="col-sm-3 col-sm-offset-3">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="fdBTB.PENYUSUTAN_KEMUNDURAN_FISIK" disabled/>
                        <span class="input-group-addon">% </span>
                    </div>                 
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-6 control-label">Kondisi Terlihat</label>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="number" class="form-control" ng-model="fdBTB.PENYUSUTAN_KONDISI_TERLIHAT_A"  ng-disabled="fdBTB.LOCK_PENYUSUTAN == 1" />
                        <span class="input-group-addon">% </span>
                    </div> 
                </div>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="fdBTB.PENYUSUTAN_KONDISI_TERLIHAT_B" disabled/>
                        <span class="input-group-addon">% </span>
                    </div>
                    
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-6 control-label">Total Kemunduran Fisik</label>
                <div class="col-sm-3 col-sm-offset-3">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="fdBTB.PENYUSUTAN_TOTAL_KEMUNDURAN_FISIK" disabled="disabled"/>
                        <span class="input-group-addon">% </span>
                    </div> 
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-6 control-label">Keusangan Fungsional</label>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="fdBTB.PENYUSUTAN_KEUSANGAN_FUNGSIONAL_A" ui-number-mask="0"  ng-disabled="fdBTB.LOCK_PENYUSUTAN == 1" />
                        <span class="input-group-addon">% </span>
                    </div>                    
                </div>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="fdBTB.PENYUSUTAN_KEUSANGAN_FUNGSIONAL_B" disabled/>
                        <span class="input-group-addon">% </span>
                    </div>                   
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-6 control-label">Keusangan Ekonomis</label>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="fdBTB.PENYUSUTAN_KEUSANGAN_EKONOMIS_A" ui-number-mask="0"  ng-disabled="fdBTB.LOCK_PENYUSUTAN == 1" />
                        <span class="input-group-addon">% </span>
                    </div>
                    
                </div>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="fdBTB.PENYUSUTAN_KEUSANGAN_EKONOMIS_B" disabled/>
                        <span class="input-group-addon">% </span>
                    </div>                   
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6 col-padding-110">
        <div class="form-group">
            <label>Total Penyusutan</label>
                <div class="input-group">
                    <input type="text" class="form-control " ng-model="fdBTB.PENYUSUTAN_TOTAL_PENYUSUTAN" disabled="disabled"/>
                    <span class="input-group-addon">% </span>
                </div>            
        </div>
        <div class="form-group">
            <button class="btn btn-default btn-sm" ng-click="editPenyusutan()">Edit</button>
            <button class="btn btn-default btn-sm" ng-click="calculatePenyusutan()">Lanjutkan</button>
        </div>
    </div>
</div>
<!--<div class="col-md-12">
    <hr>
</div>
<div class="col-md-12">
    <div class="form-group text-center">
        <button class="btn btn-success btn-sm">Submit</button>
    </div>
</div>-->