<div class="modal-header">
    Covenant tambahan Persetujuan Prinsip Pembiayaan Mikro (SP3U)
</div>
<div class="modal-body">
    <div class="col-md-12 col-no-padding">
        <div class="form-inline">
            <div class="form-group form-group-lg">
                <!--label>Covenant SP3U</label-->                
            </div>
        </div>
    </div>
    <div class="col-md-12 col-no-padding">
        <div class="form-group">
            <label></label>
            <text-angular ng-model="$root.RPT.covenant"></text-angular>
        </div>
    </div>
</div>
<div class="modal-footer">
	<a class="btn btn-success btn-sm" ng-click="$root.viewModalRPT_SP3U()">View Report</a>
    <a class="btn btn-primary btn-sm" ng-click="$root.simpanModalRPT_SP3U()">Simpan</a>
    <a class="btn btn-default btn-sm" ng-click="$root.closemodalRPT_SP3U()">Tutup</a>
</div>
