<ng-include src="'partials/navbar.html'"></ng-include>
<div class="container container-fluid container-first container-first-two-nav page-header page-header-form no-padding">
    <div class="col-md-12 col-no-padding">
        <ng-include src=" 'partials/subnav.html' "></ng-include>
    </div>
</div>
<div class="container container-body">
    <div class="col-md-12">
        <div class="page-body">
            <form ng-submit="processFormAgunan()">
                <div class="panel panel-default panel-app">
                    <div class="panel-heading text-center">
                        <h4>Rencana Agunan</h4>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12 col-no-padding">
                            <ng-include src="'partials/agunan-fields.html'"></ng-include>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>