<div class="col-md-6 col-md-offset-3">
    <div class="form-group">
        <dl class="dl-horizontal">
            <dt>Nama :</dt>
            <dd>{{formDataAom.DB_NAMA_AOM}}</dd>
            <dt>ID SDM :</dt>
            <dd>{{formDataAom.DB_ID_SDM_AOM}}</dd>
        </dl>
    </div>
    <!--
    <div class="form-group form-group-btn-step">
        <button type="submit" class="btn btn-primary btn-next">
            <span class="ion ion-ios-paperplane-outline"></span>
        </button>
    </div>
    -->
</div>