<ul class="list-unstyled list-menu-hm col-md-12 col-fit-mobile">
    <!--
    <li>
        <a ui-sref="kategoriprospek" class="tt">
            <div class="bx-sprite">
                <span class="sprite sprite-kategori"></span>
            </div>
            KATEGORI
        </a>
        <p class="dc">Deskripsi disini ...</p>
    </li>
    -->
    <li>
        <a ui-sref="identitasindividu.informasipribadi({id : PR_INDIVIDU_ID})" class="tt">
            <div class="bx-sprite">
                <span class="sprite sprite-keluarga"></span>
            </div>
            IDENTITAS
        </a>
        <p class="dc">Deskripsi disini ...</p>
    </li>
    <li>
        <a ui-sref="keluarga.data({id : PR_INDIVIDU_ID})" class="tt">
            <div class="bx-sprite">
                <span class="sprite sprite-keluarga"></span>
            </div>
            KELUARGA
        </a>
        <p class="dc">Deskripsi disini ...</p>
    </li>
    <li>
        <a ui-sref="aplikasi.informasipembiayaan({id : PR_INDIVIDU_ID})" class="tt">
            <div class="bx-sprite">
                <span class="sprite sprite-aplikasi"></span>
            </div>
            APLIKASI
        </a>
        <p class="dc">Deskripsi disini ...</p>
    </li>
    <li>
        <a ui-sref="agunan({id : PR_INDIVIDU_ID})" class="tt">
            <div class="bx-sprite">
                <span class="sprite sprite-agunan"></span>
            </div>
            AGUNAN
        </a>
        <p class="dc">Deskripsi disini ...</p>
    </li>
    <li>
        <a ui-sref="dokumen({id : PR_INDIVIDU_ID})" class="tt">
            <div class="bx-sprite">
                <span class="sprite sprite-dokumen"></span>
            </div>
            DOKUMEN
        </a>
        <p class="dc">Deskripsi disini ...</p>
    </li>
    <li>
        <a ui-sref="aom.info({id : PR_INDIVIDU_ID})" class="tt">
            <div class="bx-sprite">
                <span class="sprite sprite-aom"></span>
            </div>
            AOM
        </a>
        <p class="dc">Deskripsi disini ...</p>
    </li>
</ul>