<ul class="list-unstyled list-menu-hm col-md-12 col-fit-mobile">
    <li>
        <a ui-sref="survey.informasi.index({id : PR_INDIVIDU_ID})" class="tt">
            <div class="bx-sprite">
                <span class="sprite sprite-keluarga"></span>
            </div>
            Informasi Survey
        </a>
        <p class="dc">Deskripsi disini ...</p>
    </li>
    <li>
        <a ui-sref="survey.profilekarakter.index({id : PR_INDIVIDU_ID})" class="tt">
            <div class="bx-sprite">
                <span class="sprite sprite-keluarga"></span>
            </div>
            Profile & Karakter
        </a>
        <p class="dc">Deskripsi disini ...</p>
    </li>
    <li>
        <a ui-sref="survey.kapasitasusaha.index({id : PR_INDIVIDU_ID})" class="tt">
            <div class="bx-sprite">
                <span class="sprite sprite-keluarga"></span>
            </div>
            Kapasitas Usaha
        </a>
        <p class="dc">Deskripsi disini ...</p>
    </li>
    <li>
        <a ui-sref="survey.jenisusaha({id : PR_INDIVIDU_ID})" class="tt">
            <div class="bx-sprite">
                <span class="sprite sprite-keluarga"></span>
            </div>
            Jenis Usaha
        </a>
        <p class="dc">Deskripsi disini ...</p>
    </li>
    <li>
        <a ui-sref="survey.keuangan.index({id : PR_INDIVIDU_ID})" class="tt">
            <div class="bx-sprite">
                <span class="sprite sprite-keluarga"></span>
            </div>
            Keuangan
        </a>
        <p class="dc">Deskripsi disini ...</p>
    </li>
    <li>
        <a ui-sref="survey.kebutuhanmodalkerja.index({id : PR_INDIVIDU_ID})" class="tt">
            <div class="bx-sprite">
                <span class="sprite sprite-keluarga"></span>
            </div>
            Kebutuhan Modal Kerja
        </a>
        <p class="dc">Deskripsi disini ...</p>
    </li>
    <li>
        <a ui-sref="survey.keluarga.index({id : PR_INDIVIDU_ID})" class="tt">
            <div class="bx-sprite">
                <span class="sprite sprite-keluarga"></span>
            </div>
            Keluarga
        </a>
        <p class="dc">Deskripsi disini ...</p>
    </li>
    <li>
        <a ui-sref="survey.agunan.index({id : PR_INDIVIDU_ID})" class="tt">
            <div class="bx-sprite">
                <span class="sprite sprite-keluarga"></span>
            </div>
            Agunan
        </a>
        <p class="dc">Deskripsi disini ...</p>
    </li>
</ul>