<div class="container container-body">
    <div class="col-md-12 col-fit-mobile">
        <div class="hm-lg">
            <img src="images/logopnm.png" />
        </div>
    </div>
    <div class="col-md-12 col-fit-mobile">
        <h1 class="hm-tt">PROSPEK</h1>
        <ul class="list-unstyled list-menu-hm col-md-8 col-md-offset-2 col-fit-mobile">
            <li>
                <a ui-sref="keluarga.data" class="tt">
                    <div class="bx-sprite">
                        <span class="sprite sprite-keluarga"></span>
                    </div>
                    KELUARGA
                </a>
                <p class="dc">Deskripsi disini ...</p>
            </li>
            <li>
                <a ui-sref="aplikasi.informasipembiayaan" class="tt">
                    <div class="bx-sprite">
                        <span class="sprite sprite-aplikasi"></span>
                    </div>
                    APLIKASI
                </a>
                <p class="dc">Deskripsi disini ...</p>
            </li>
            <li>
                <a ui-sref="agunan" class="tt">
                    <div class="bx-sprite">
                        <span class="sprite sprite-agunan"></span>
                    </div>
                    AGUNAN
                </a>
                <p class="dc">Deskripsi disini ...</p>
            </li>
            <li>
                <a ui-sref="dokumen" class="tt">
                    <div class="bx-sprite">
                        <span class="sprite sprite-dokumen"></span>
                    </div>
                    DOKUMEN
                </a>
                <p class="dc">Deskripsi disini ...</p>
            </li>
            <li>
                <a ui-sref="aom" class="tt">
                    <div class="bx-sprite">
                        <span class="sprite sprite-aom"></span>
                    </div>
                    AOM
                </a>
                <p class="dc">Deskripsi disini ...</p>
            </li>
        </ul>
    </div>
</div>
