<div class="form-group">
    <label>Kode Golongan</label>
    <select class="form-control" placeholder="Kode Golongan" ng-model="formDataProspek.kodegolongan" >
        <option>INDIVIDU</option>
        <option>LEMBAGA</option>
    </select>
</div>
<div class="form-group">
    <label>Jenis Prospek</label>
    <select class="form-control" placeholder="Jenis Prospek" ng-model="formDataProspek.jenisprospek" >
        <option>BARU</option>
        <option>TOP UP</option>
        <option>3R</option>
    </select>
</div>