<div class="container container-body">
    <div class="col-md-3 col-md-offset-2">
        <div class="" style="text-align: center; padding-top: 150px;">
            <img src="images/login.svg" />
        </div>
        <p class="text-center">Masuk menggunakan akun SSO anda.</p>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default panel-app panel-login">
            <div class="panel-body">
                <h4 class="text-center">MarketLine</h4>
                <hr/>
                <form ng-submit="login()" class="form-awesome">
                    <div class="form-group form-group-cb">
                        <input type="text" class="form-control" placeholder="username" ng-model="fdLGN.USERNAME"/>
                    </div>
                    <div class="form-group form-group-cb">
                        <input type="password" class="form-control" placeholder="password" ng-model="fdLGN.PASSWORD"/>
                    </div>
                    <div class="form-group form-group-cb alrt" ng-show="fdLGN.ALERT">
                        <span>{{fdLGN.ALERT}}</span>
                    </div>
                    <div class="form-group form-group-cb">
                        <button type="submit" class="btn btn-primary btn-block btn-sm">Login</button>
                    </div>
                </form>
                <hr/>
                <p class="text-center small">PNM &copy;2018</p>
            </div>
        </div>
    </div>
	<div class="col-md-6 col-md-offset-3">
		<div class="panel-body">
			<p class="text-center"><b>User Marketline Development</b></p>
			<hr/>			
			<p class="text-center">Untuk login gunakan Username AOM / KAM / KKU / REVIEWER / KRW, dan password dikosongkan saja.</p>			
			<hr/>
			<p class="text-center"><b>Untuk Manual Penggunaan Aplikasi Bisa Download Dibawah ini</b></p>
			<p class="text-center"><a href='http://10.61.3.45/owncloud/index.php/s/0tM4xo7cqdogCo2' target='_blank'>Silahkan Download</a></p>								
		</div>
	</div>
</div>