<ul class="menu">
    <li>
        <a ui-sref="home" class="text-mn">
            <span class="sprite sprite-prospek"></span> HOME
        </a>
    </li>
    <li>
        <a ui-sref="prospek.mandatory" class="text-mn">
            <span class="sprite sprite-prospek"></span> MANDATORY
        </a>
    </li>
    <li>
        <a ui-sref="keluarga.data" class="text-mn">
            <span class="sprite sprite-keluarga"></span> KELUARGA
        </a>
    </li>
    <li>
        <a ui-sref="aplikasi.informasipembiayaan" class="text-mn">
            <span class="sprite sprite-aplikasi"></span> APLIKASI
        </a>
    </li>
    <li>
        <a ui-sref="agunan" class="text-mn">
            <span class="sprite sprite-agunan"></span> AGUNAN
        </a>
    </li>
    <li>
        <a ui-sref="dokumen" class="text-mn">
            <span class="sprite sprite-dokumen"></span> DOKUMEN
        </a>
    </li>
    <li>
        <a ui-sref="aom" class="text-mn">
            <span class="sprite sprite-aom"></span>AOM
        </a>
    </li>
</ul>
