<nav class="navbar navbar-fixed-top main-navbar">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="dropdown" uib-dropdown on-toggle="toggled(open)" >
                <a uib-dropdown-toggle>
                    <span class="ion ion-android-menu"></span>
                    <span class="caret-menu"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-navbar-ap" uib-dropdown-menu aria-labelledby="simple-dropdown">
                    <li>Menu 1</li>
                    <li>Menu 2</li>
                </ul>
            </li>
        </ul>
    </div>
</nav>