<ng-include src="'partials/navbar.html'"></ng-include>
<div class="container container-fluid container-first page-header page-header-form no-padding has-bg-color">
<!--    <div class="bx-ph">
        <h1>Daftar Prospek</h1>
    </div>
    <hr class="awesome no-margin"/>-->
</div>
<div class="container container-body">
    <div class="col-md-12">
        <div class="panel panel-default panel-app">
            <div class="panel-heading">
                <div class="row hor-mod">
                    <div class="col-md-3 col-first text-center">
                        <h1>Daftar Prospek</h1>
                    </div>
                    <div class="col-md-9">
                        <!--ul class="thead thead-action list-inline">
                            <li>
                                <label class="small">Wilayah</label>
                                <select placeholder="Wilayah" class="form-control" ng-model="fdPL.MS_WILAYAH_ID" ng-options="x.MS_WILAYAH_ID as (x.MS_WILAYAH) for x in $root.wilayah" ng-change="cb(fdPL.MS_WILAYAH_ID); fdPL.MS_KODE_CABANG=''; fdPL.MS_KODE_UNIT='';" ng-disabled="$storage.SESSION_LOGIN.WILAYAH">
                                    <option></option>
                                </select>
                            </li>
                            <li ng-show="fdPL.MS_WILAYAH_ID">
                                <label class="small">Cabang</label>
                                <select placeholder="Cabang" class="form-control" ng-model="fdPL.MS_KODE_CABANG" ng-options="x.MS_CABANG_KODE as (x.MS_CABANG_DESKRIPSI) for x in $root.cabang" ng-change="un(fdPL.MS_KODE_CABANG); fdPL.MS_KODE_UNIT='';" ng-disabled="$storage.SESSION_LOGIN.CABANG_KODE">
                                    <option></option>
                                </select>
                            </li>
                            <li ng-show="fdPL.MS_KODE_CABANG">
                                <label class="small">Unit</label>
                                <select placeholder="Unit" class="form-control"  ng-model="fdPL.MS_KODE_UNIT" ng-options="x.MS_UNIT_KODE as (x.MS_UNIT_DESKRIPSI) for x in $root.unit"  ng-disabled="$storage.SESSION_LOGIN.UNIT_KODE">
                                    <option></option>
                                </select>
                            </li>
                        </ul-->
						
						<ul class="thead thead-action list-inline ">
                            <li>
                                <label class="small">Wilayah</label>
                                <ng-if ng-if="$storage.SESSION_LOGIN.CLUSTER">
                                    <select placeholder="Wilayah" class="form-control" ng-model="fdPL.MS_WILAYAH_ID" ng-options="x.MS_WILAYAH_ID as (x.MS_WILAYAH) for x in $root.wilayah" ng-change="cb(fdPL.MS_WILAYAH_ID); fdPL.MS_KODE_CABANG=''; fdPL.MS_KODE_UNIT='';">
                                        <option></option>
                                    </select>
                                </ng-if>
                                <ng-if ng-if="!$storage.SESSION_LOGIN.CLUSTER">
                                    <select placeholder="Wilayah" class="form-control" ng-model="fdPL.MS_WILAYAH_ID" ng-options="x.MS_WILAYAH_ID as (x.MS_WILAYAH) for x in $root.wilayah" ng-change="cb(fdPL.MS_WILAYAH_ID); fdPL.MS_KODE_CABANG=''; fdPL.MS_KODE_UNIT='';" ng-disabled="$storage.SESSION_LOGIN.WILAYAH">
                                        <option></option>
                                    </select>
                                </ng-if>
                            </li>
                            <li ng-show="fdPL.MS_WILAYAH_ID">
                                <label class="small">Cabang</label>
                                <ng-if ng-if="$storage.SESSION_LOGIN.CLUSTER">
                                    <select placeholder="Cabang" class="form-control" ng-model="fdPL.MS_KODE_CABANG" ng-options="x.MS_CABANG_KODE as (x.MS_CABANG_DESKRIPSI) for x in $root.cabang | filter : $root.myFilterCabang" ng-change="un(fdPL.MS_KODE_CABANG); fdPL.MS_KODE_UNIT='';">
                                        <option></option>
                                    </select>
                                </ng-if>
                                <ng-if ng-if="!$storage.SESSION_LOGIN.CLUSTER">
                                    <select placeholder="Cabang" class="form-control" ng-model="fdPL.MS_KODE_CABANG" ng-options="x.MS_CABANG_KODE as (x.MS_CABANG_DESKRIPSI) for x in $root.cabang" ng-change="un(fdPL.MS_KODE_CABANG); fdPL.MS_KODE_UNIT='';" ng-disabled="$storage.SESSION_LOGIN.CABANG_KODE">
                                        <option></option>
                                    </select>
                                </ng-if>
                            </li>
                            <li ng-show="fdPL.MS_KODE_CABANG">
                                <label class="small">Unit</label>
								<ng-if ng-if="$storage.SESSION_LOGIN.CLUSTER">
                                <select placeholder="Unit" class="form-control"  ng-model="fdPL.MS_KODE_UNIT" ng-options="x.MS_UNIT_KODE as (x.MS_UNIT_DESKRIPSI) for x in $root.unit" >
                                    <option></option>
                                </select>
								</ng-if>
                                <ng-if ng-if="!$storage.SESSION_LOGIN.CLUSTER">
								<select placeholder="Unit" class="form-control"  ng-model="fdPL.MS_KODE_UNIT" ng-options="x.MS_UNIT_KODE as (x.MS_UNIT_DESKRIPSI) for x in $root.unit"  ng-disabled="$storage.SESSION_LOGIN.UNIT_KODE">
                                    <option></option>
                                </select>
								</ng-if>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-heading">
                <ul class="thead thead-action list-inline">
                    <li>
                        <!--<input type="text" placeholder="Cari" ng-model="SEARCH_PROSPEK"/>-->
                        <input type="text" placeholder="Cari" ng-model="fdPL.SEARCH" ng-model-options="{ debounce: 1000 }" />
                    </li>
                    <li>
                        <select class="form-control" ng-model="fdPL.LIMIT" ng-options="x as (x) for x in $root.tableItemPerPage">
                            <option></option>
                        </select>
                    </li>
                    <li>
                        Page : {{fdPL.PAGE}} / {{fdPL.NUM_PAGES}}
                    </li>
                    <li>
                        Total : {{fdPL.TOTAL_ITEMS}} record(s)
                    </li>
                    <li class="right">
                        <ul uib-pagination 
                            total-items="fdPL.TOTAL_ITEMS" 
                            items-per-page= "fdPL.LIMIT"
                            ng-model="fdPL.PAGE" 
                            max-size="fdPL.MAX_SIZE"
                            num-pages="fdPL.NUM_PAGES"
                            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                            boundary-links="true" 
                            class="pagination-sm"
                            ng-change="pageChanged(fdPL.PAGE)"
                        ></ul>
                    </li>
                </ul>
            </div>
            <div class="panel-body no-padding">
                <table wt-responsive-table class="table table-striped small">
                    <tr class="tr-head">
                        <th>NO</th>
                        <th>WILAYAH</th>
                        <th>CABANG</th>
                        <th>UNIT</th>
                        <!--<th>INDIVIDU ID</th>-->
                        <th>PROSPEK ID</th>
                        <th>CALON NASABAH</th>
                        <th>CREATE DATE</th>
                        <th>CREATE BY</th>
                        <th>PROGRESS</th>
                        <th>STATUS</th>
                        <th>#</th>
                    </tr>
                    <!--<tr ng-repeat="x in prospekList | filter:SEARCH_PROSPEK | limitTo:(fdPL.LIMIT):((fdPL.PAGE*fdPL.LIMIT)-fdPL.LIMIT)">-->
                    <!--tr ng-repeat="x in prospekList_"-->
					<tbody data-ng-repeat="x in prospekList_">
						<tr title="Klik untuk buka/tutup list prospek id lkku ulang." ng-click="selectTableRow($index, x.DB_PROSPEK_ID)">
							<td>{{(fdPL.PAGE - 1) * fdPL.LIMIT + ($index+1)}}</td>
							<td>{{x.MS_WILAYAH_ID == 1 ? 'BARAT' : 'TIMUR'}}</td>
							<td>{{x.MS_KODE_CABANG}}</td>
							<td>{{x.MS_KODE_UNIT}}</td>
							<!--<td>{{x.PR_INDIVIDU_ID}}</td>-->
							<td>{{x.DB_PROSPEK_ID}}</td>
							<td>{{x.PR_NAMA_LENGKAP}}</td>
							<td>{{x.CREATED_DATE}}</td>
							<td>{{x.CREATED_BY_NAME}}</td>
							<td>
								<uib-progressbar max="100" value="x.DB_PERCENT_PROSPEK" type="{{$root.progressType(x.DB_PERCENT_PROSPEK)}}"><span>{{x.DB_PERCENT_PROSPEK}}%</span></uib-progressbar>
							</td>
							<!-- <td>{{x.DB_STATUS >= 1 ? 'Submited' : 'On Progress'}}</td>                         -->
							<td>{{x.DB_STATUS >= 1 ? 'Approved' : x.DB_SUB_STATUS == 1 ? 'Need Approval' : x.DB_SUB_STATUS == 2 ? 'Rejected' : 'On Progress'  }}</td>                        
							<td>
								<a ui-sref="prospek.identitasindividu.informasipribadi({id:{{x.DB_PROSPEK_ID}}})">View</a>
							</td>
						</tr>
						<tr ng-show="DataCollapse[$index] && x.DB_PROSPEK_ID_MAIN" >
                            <td colspan="4">&nbsp;</td>
                            <td colspan="8">
                                <table class="table table-condensed table-striped">
                                    <thead>
                                        <tr>
                                            <th >PROSPEK ID</th>
                                            <th >STATUS</th>
                                            <th >#</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="y in prospekList_[$index].PROSPEK_ID_PARENT">                                                
                                            <td>{{y.PARENT}}</td>                                                                                                                                      
                                            <td>LKKU ULANG</td>                                                
                                            <td>
												<a ui-sref="survey.informasi.alamat({id:y.PARENT})">View</a>
                                            </td>	                                                
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
						</tr>
					</tbody>
                </table>
            </div>
        </div>
        </table>
    </div>
</div>