<div class="col-md-4 col-md-offset-4">
    <div class="form-group">
        <label>Jenis Referensi *</label>
        <select class="form-control" ng-model="formDataProspekCreate.MS_JENIS_REFERENSI_ID">
            <option ng-repeat="x in $root.jns_referensi" value="{{x.MS_PARA_GLOBAL_DETAIL_ID}}">{{x.MS_DESKRIPSI}}</option>
        </select>
    </div>
    <div class="form-group" ng-show="formDataProspekCreate.MS_JENIS_REFERENSI_ID">
        <label ng-show="formDataProspekCreate.MS_JENIS_REFERENSI_ID == 12 || formDataProspekCreate.MS_JENIS_REFERENSI_ID == 13 || formDataProspekCreate.MS_JENIS_REFERENSI_ID == 14 ">Nama Referensi</label>
        <!--label ng-show="formDataProspekCreate.MS_JENIS_REFERENSI_ID == 15 || formDataProspekCreate.MS_JENIS_REFERENSI_ID == 16">Sumber Referensi</label-->
          <label ng-show="formDataProspekCreate.MS_JENIS_REFERENSI_ID == 16 || formDataProspekCreate.MS_JENIS_REFERENSI_ID == 620 ">Sumber Referensi</label>
        <input ng-hide="formDataProspekCreate.MS_JENIS_REFERENSI_ID == 15" type="text" class="form-control" ng-model="formDataProspekCreate.PR_NAMA_REFERENSI"/>
    </div>
    <div class="form-group">
        <label ng-hide="formDataProspekCreate.MS_JENIS_REFERENSI_ID == 15">Nomor Handphone Sumber Referensi</label>
        <input ng-hide="formDataProspekCreate.MS_JENIS_REFERENSI_ID == 15" type="text" class="form-control" ng-model="formDataProspekCreate.PR_NO_HP_REFERENSI" no-hp/>
    </div>
    <div class="form-group">
        <label>Tanggal Realisasi Pertemuan *</label>
        <div>
            <md-datepicker md-placeholder="Masukan Tanggal Realisasi Pertemuan" md-open-on-focus ng-model="dtTRP" ng-change="formDataProspekCreate.PR_TGL_REALISASI_KUNJUNGAN = dtTRP.toISOString()"></md-datepicker>
        </div>
    </div>

    <div class="form-group">
        <label>Keterangan Kunjungan *</label>
        <textarea class="form-control" ng-model="formDataProspekCreate.PR_KETERANGAN_KUNJUNGAN"></textarea>
    </div>
</div>
<div class="form-group form-group-btn-step">
    <a ui-sref="prospekcreate.2" class="btn btn-primary btn-prev no-left">
        <span class="ion ion-ios-arrow-left"></span>
    </a>
<!--    <button type="submit" class="btn btn-primary btn-next">
        <span class="ion ion-ios-paperplane"></span>
    </button>-->
</div>