<ng-include src="'partials/prospek-alamat-tab.html'"></ng-include>
<p class="text-center">
    <span class="text-uppercase">
        <b>KTP</b>
    </span>
</p>
<ng-include ng-controller="identitasIndividuAlamatKtpCtrl" identitasIndividuAlamatKtpCtrl src="'partials/prospek-alamat-form.html'"></ng-include>
<div class="form-group form-group-btn-step">
    <a ui-sref="identitasindividu.kontak" class="btn btn-primary btn-prev no-left">
        <span class="ion ion-ios-arrow-left"></span>
    </a>
    <a ui-sref="identitasindividu.alamat.domisili" class="btn btn-primary btn-next no-right">
        <span class="ion ion-ios-arrow-right"></span>
    </a>
</div>