<div class="col-md-4 col-md-offset-4">

    <div class="form-group">
        <label>Nomor Handphone</label>
        <input type="number" class="form-control" ng-model="formDataIdentitasIndividu.nomor_hp"/> 
    </div>
    <div class="form-group">
        <label>Nomor Telepon</label>
        <input type="number" class="form-control" ng-model="formDataIdentitasIndividu.nomor_telepon"/> 
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" ng-model="formDataIdentitasIndividu.email" /> 
    </div>
    
    
    <div class="form-group form-group-btn-step">
        <!--
        <a ui-sref="prospek.dokumenidentitas" class="btn btn-primary btn-prev">
            <span class="ion ion-ios-arrow-left"></span>
        </a>
        -->
      
        <a ui-sref="prospek.identitasindividu.informasipribadi" class="btn btn-primary btn-prev">
            <span class="ion ion-ios-arrow-left"></span>
        </a>
        <a ui-sref="prospek.identitasindividu.alamat.ktp" class="btn btn-primary btn-next">
            <span class="ion ion-ios-arrow-right"></span>
        </a>
    </div>
    
</div>
