<div class="col-md-6 col-md-offset-3">
    <div class="form-group">
        <label>Pendidikan Terakhir *</label>
        <select ng-disabled="(PROSPEK_LOCK!='YES') ? false : true" class="form-control" ng-model="formDataIdentitasIndividu.MS_PENDIDIKAN_ID" ng-options="x.MS_PARA_GLOBAL_DETAIL_ID as (x.MS_DESKRIPSI) for x in $root.pendidikan">
            <option></option>
            <!--<option ng-repeat="x in $root.pendidikan" value="{{x.MS_PARA_GLOBAL_DETAIL_ID}}">{{x.MS_DESKRIPSI}}</option>-->
        </select>
    </div>
    <div class="form-group">
        <label>Gelar</label>
        <input ng-disabled="(PROSPEK_LOCK!='YES') ? false : true" type="text" class="form-control" ng-model="formDataIdentitasIndividu.PR_GELAR"/>
    </div>
    <div class="form-group form-group-btn-step">
        <a ui-sref="prospek.identitasindividu.statuspekerjaan" class="btn btn-primary btn-prev">
            <span class="ion ion-ios-arrow-left"></span>
        </a>
        <a ui-sref="prospek.identitasindividu.referensi" class="btn btn-primary btn-next">
            <span class="ion ion-ios-arrow-right"></span>
        </a>
    </div>
</div>
