<div class="form-group">
    <label>Jenis Dokumen</label>
    <select class="form-control">
        <option>KTP</option>
        <option>SIM</option>
        <option>PASPOR</option>
    </select>
</div>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Nomor Dokumen" />
</div>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Masa Berlaku"/>
</div>
<div class="form-group">
    <input type="file" class="form-control" placeholder=""/>
</div>
<div class="form-group form-group-btn-step">
    <a ui-sref="identitasindividu.informasipribadi" class="btn btn-primary btn-prev">
        <span class="ion ion-ios-arrow-left"></span>
    </a>
    <a ui-sref="identitasindividu.kontak" class="btn btn-primary btn-next">
        <span class="ion ion-ios-arrow-right"></span>
    </a>
</div>
