<div class="col-md-6 col-md-offset-3">
    <div class="form-group">
        <label>Pekerjaan *</label>
        <select ng-disabled="(PROSPEK_LOCK!='YES') ? false : true" class="form-control" ng-model="formDataIdentitasIndividu.MS_PEKERJAAN_ID" ng-options="x.MS_PARA_GLOBAL_DETAIL_ID as (x.MS_DESKRIPSI) for x in $root.pekerjaan">
            <option></option>
            <!--<option ng-repeat="x in $root.pekerjaan" value="{{x.MS_PARA_GLOBAL_DETAIL_ID}}">{{x.MS_DESKRIPSI}}</option>-->
        </select>
    </div>
    <div class="form-group">
        <label>NPWP *</label>
        <!--<input type="text" class="form-control" ng-model="formDataIdentitasIndividu.PR_NPWP" />-->
        <input ng-disabled="(PROSPEK_LOCK!='YES') ? false : true" type="text" class="form-control" mask="99.999.999.9-999.999" clean="false" ng-value="{{formDataIdentitasIndividu.PR_NPWP}}" ng-model="formDataIdentitasIndividu.PR_NPWP">        
    </div>
    <div class="form-group">
        <label>Keterangan Pekerjaan</label>
        <input ng-disabled="(PROSPEK_LOCK!='YES') ? false : true" type="text" class="form-control" ng-model="formDataIdentitasIndividu.PR_KET_PEKERJAAN" />
    </div>
    <div class="form-group form-group-btn-step">
        <a ui-sref="prospek.identitasindividu.alamat" class="btn btn-primary btn-prev">
            <span class="ion ion-ios-arrow-left"></span>
        </a>
        <a ui-sref="prospek.identitasindividu.pendidikan" class="btn btn-primary btn-next">
            <span class="ion ion-ios-arrow-right"></span>
        </a>
    </div>
</div>
