<div class="step step-7">
    <!--<a ui-sref-active="active" ui-sref=".kategori"><span></span> Kategori Prospek</a>-->
    <a ui-sref-active="active" ui-sref=".informasipribadi"><span></span> Informasi Pribadi</a>
    <!--<a ui-sref-active="active" ui-sref=".dokumenidentitas"><span></span> Dokumen Identitas</a>-->
    <a ui-sref-active="active" ui-sref=".kontak"><span></span> Kontak</a>
    <a ui-sref-active="active" ui-sref=".alamat"><span></span> Alamat</a>
    <a ui-sref-active="active" ui-sref=".statuspekerjaan"><span></span> Status Pekerjaan</a>
    <a ui-sref-active="active" ui-sref=".pendidikan"><span></span> Pendidikan</a>
    <a ui-sref-active="active" ui-sref=".referensi"><span></span> Referensi</a>
    <a ui-sref-active="active" ui-sref=".lainnya"><span></span> Lainnya</a>
    <!--<a ui-sref-active="active" ui-sref=".submit"><span></span> Submit</a>-->
</div>