<!--<div class="step step-1" ng-class="{ 0 : 'step-5' , 1 : 'step-11' , 99 : 'step-1'}[jao]">
    <a ui-sref-active="active" ui-sref=".index"><span></span> Index</a>
    <ng-show ng-show="jao==0 || jao==1" >
        <a ui-sref-active="active" ui-sref=".tanahdanbangunan" class="animated swing"><span></span> Tanah dan Bangunan</a>
        <a ui-sref-active="active" ui-sref=".ajb" class="animated swing"><span></span> AJB</a>
        <a ui-sref-active="active" ui-sref=".alamat" class="animated swing"><span></span> Alamat</a>
        <a ui-sref-active="active" ui-sref=".keadaantanahdanstatuspenghunian" class="animated swing"><span></span> Keadaan tanah & Status Penghunian </a>
    </ng-show>
    <ng-show ng-show="jao==1">
        <a ui-sref-active="active" ui-sref=".fasilitas" class="animated swing"><span></span> Fasilitas</a>
        <a ui-sref-active="active" ui-sref=".keadaanbangunan" class="animated swing"><span></span> Keadaan Bangunan</a>
        <a ui-sref-active="active" ui-sref=".konstruksibangunan" class="animated swing"><span></span> Konstruksi Bangunan</a>
        <a ui-sref-active="active" ui-sref=".tataruang" class="animated swing"><span></span> Tata Ruang</a>
        <a ui-sref-active="active" ui-sref=".penilaian" class="animated swing"><span></span> Penilaian</a>
        <a ui-sref-active="active" ui-sref=".dokumen" class="animated swing"><span></span> Dokumen</a>
    </ng-show>
    
</div>-->

<div class="step step-3">
    <a ui-sref-active="active" ui-sref=".list"><span></span> List</a>
    <a ui-sref-active="active" ui-sref=".dokumen"><span></span> Dokumen</a>
    <a ui-sref-active="active" ui-sref=".executivesummaryanalisaagunan" ><span></span> Executive Summary Critical Agunan</a>
</div>