<div class="col-md-6 col-padding-110">
    <div class="form-group hide">
        <label>Inisial AOM</label>
        <input type="text" class="form-control" disabled="disabled" ng-model="fdISAOM.INITIAL_AOM"/>
    </div>
    <div class="form-group">
        <label>AOM</label>
        <input type="text" class="form-control" disabled="disabled" ng-model="fdISAOM.MS_NAMA_AOM"/>
    </div>
</div>
<div class="col-md-6 col-padding-110">
    <div class="form-group">
        <label>Lama Bekerja</label>
        <div class="input-group">
            <input type="text" class="form-control" disabled="disabled" ng-model="fdISAOM.MS_LAMA_KERJA_AOM"/>
            <span class="input-group-addon">Bulan</span>
        </div>
    </div>
</div>