<div class="container container-fluid container-first container-first-two-nav page-header page-header-form no-padding">
<!--    <div class="col-md-12 col-no-padding">
        <div class="bx-ph">
            <h1>Faktor Kualitatif</h1>
        </div>
    </div>
    <div class="col-md-12 col-no-padding">
        <hr class="awesome no-margin">
    </div>-->
</div>

<div class="container container-body">
    <div class="col-md-12">
        <div class="page-body">
            <div class="panel panel-default panel-app">
                <div class="panel-heading text-center">
                    <h4>Faktor Kualitatif</h4> 
                </div>
                <div class="panel-body no-padding">
                    <ng-include src=" 'partials/survey/catatan.html' "></ng-include>
                </div>
            </div>
        </div>
    </div>
</div>