<div class="container container-fluid container-first container-first-two-nav page-header page-header-form no-padding">
<!--    <div class="col-md-12">
        <div class="bx-ph">
            <h1>Informasi Survey</h1>
        </div>
    </div>
    <div class="col-md-12 col-no-padding">
        <ng-include src="'partials/survey/informasi-survey-step.html'"></ng-include>
        <hr class="awesome no-margin">
    </div>-->
</div>

<div class="container container-body">
    <div class="col-md-12">
        <div class="page-body">
            <form ng-submit="postIS()">
                <div class="panel panel-default panel-app">
                    <div class="panel-heading text-center">
                        <div class="row hor-mod">
                            <div class="col-md-3 col-first">
                                <h1>Informasi Survey</h1>
                            </div>
                            <div class="col-md-9">
                                <ng-include src="'partials/survey/informasi-survey-step.html'"></ng-include>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12 col-no-padding" ui-view></div>
                    </div>
<!--                    <div class="panel-footer text-center" ng-show="SURVEY_LOCK != 'YES'" menu-alias="M-29">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>-->
                </div>
            </form>
        </div>
    </div>
</div>


