<div class="col-md-6 col-padding-110 col-has-border-right">
    <div class="form-group">
        <label>Bentuk Tanah *</label>
        <select class="form-control" ng-model="fdAS.MS_BENTUK_TANAH_ID" ng-options="x.MS_PARA_GLOBAL_DETAIL_ID as (x.MS_DESKRIPSI) for x in $root.MS_BENTUK_TANAH_ID">
            <option></option>
        </select>
    </div>
    <div class="form-group">
        <label>Jenis Tanah *</label>
        <select class="form-control" ng-model="fdAS.MS_JENIS_TANAH_ID" ng-options="x.MS_PARA_GLOBAL_DETAIL_ID as (x.MS_DESKRIPSI) for x in $root.MS_JENIS_TANAH_ID">
            <option></option>
        </select>
    </div>
    <div class="form-group">
        <label>Luas Tanah(M2) *</label>
        <input type="text" class="form-control" ng-model="fdAS.DB_LUAS_TANAH"/>
    </div>
    <div class="form-group">
        <label>Kondisi Permukaan Tanah *</label>
        <select class="form-control" ng-model="fdAS.MS_KONDISI_PERMUKAAN_ID" ng-options="x.MS_PARA_GLOBAL_DETAIL_ID as (x.MS_DESKRIPSI) for x in $root.MS_KONDISI_PERMUKAAN_ID">
            <option></option>
        </select>
    </div>
    <div class="form-group">
        <label>Penggunaan Tanah *</label>
        <select class="form-control" ng-model="fdAS.MS_PENGGUNAAN_TANAH_ID" ng-options="x.MS_PARA_GLOBAL_DETAIL_ID as (x.MS_DESKRIPSI) for x in $root.MS_PENGGUNAAN_TANAH_ID">
            <option></option>
        </select>
    </div>
    <div class="form-group">
        <label>Bahaya Banjir *</label>
        <ul class="list-inline">
            <li>
                <input type="radio" value="1" name="bbradioaa"  ng-model="fdAS.DB_BANJIR" ng-click/>
                <label>Ya</label>
            </li>
            <li>
                <input type="radio" value="0" name="bbradioaa"  ng-model="fdAS.DB_BANJIR" ng-click/>
                <label>Tidak</label>
            </li>
        </ul>
    </div>
    <div class="form-group">
        <label>Batas Utara *</label>
        <select class="form-control" ng-model="fdAS.MS_BATAS_UTARA_ID" ng-options="x.MS_PARA_GLOBAL_DETAIL_ID as (x.MS_DESKRIPSI) for x in $root.MS_BATAS_ID">
            <option></option>
        </select>
    </div>
    <div class="form-group">
        <label>Batas Selatan *</label>
        <select class="form-control" ng-model="fdAS.MS_BATAS_SELATAN_ID" ng-options="x.MS_PARA_GLOBAL_DETAIL_ID as (x.MS_DESKRIPSI) for x in $root.MS_BATAS_ID">
            <option></option>
        </select>
    </div>
</div>

<div class="col-md-6 col-padding-110">
    <div class="form-group">
        <label>Batas Barat *</label>
        <select class="form-control" ng-model="fdAS.MS_BATAS_BARAT_ID" ng-options="x.MS_PARA_GLOBAL_DETAIL_ID as (x.MS_DESKRIPSI) for x in $root.MS_BATAS_ID">
            <option></option>
        </select>
    </div>
    <div class="form-group">
        <label>Batas Timur *</label>
        <select class="form-control" ng-model="fdAS.MS_BATAS_TIMUR_ID" ng-options="x.MS_PARA_GLOBAL_DETAIL_ID as (x.MS_DESKRIPSI) for x in $root.MS_BATAS_ID">
            <option></option>
        </select>
    </div>
    <div class="form-group">
        <label>Status Tanah *</label>
        <select class="form-control" ng-model="fdAS.MS_STATUS_TANAH_ID" ng-options="x.MS_PARA_GLOBAL_DETAIL_ID as (x.MS_DESKRIPSI) for x in $root.MS_STATUS_TEMPAT_ID">
            <option></option>
        </select>
    </div>
    <div class="form-group">
        <label>Agunan Dihuni Oleh</label>
        <input type="text" class="form-control" ng-model="fdAS.DB_PENGHUNI"/>
    </div>
    <div class="form-group">
        <label>Dasar Penghunian</label>
        <input type="text" class="form-control" ng-model="fdAS.DB_DASAR_PENGHUNIAN"/>
    </div>
<!--    <div class="form-group">
        <label>Jangka Waktu Sewa(Bulan)</label>
        <div class="input-group">
            <input type="text" class="form-control" ng-model="fdAS.DB_WAKTU_SEWA" ui-number-mask="0" ng-disabled="jao==0"/>
            <span class="input-group-addon">Bulan</span>
        </div>
    </div>
    <div class="form-group">
        <label>Biaya Sewa</label>
        <div class="input-group">
            <span class="input-group-addon">Rp</span>
            <input type="text" class="form-control" ng-model="fdAS.DB_BIAYA_SEWA" ui-number-mask="0" ng-disabled="jao==0"/>
        </div>
    </div>-->
    <!--div class="form-group">
        <label>Jangka Waktu Sewa(Bulan)</label>
        <div class="input-group">
            <input type="text" class="form-control" ng-model="fdAS.DB_WAKTU_SEWA" ui-number-mask="0"/>
            <span class="input-group-addon">Bulan</span>
        </div>
    </div-->
	
	
	<div class="form-group">
        <label>Jangka Waktu Sewa(Bulan) * <b class="label label-primary">total {{fdAS.DB_WAKTU_SEWA}} bulan</b></label>
        <div class="input-group hide">
            <input type="number" class="form-control" string-to-number ng-model="fdAS.DB_WAKTU_SEWA" />
            <span class="input-group-addon">Bulan</span>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="fdAS.PR_LAMA_MENEMPATI_TAHUN" restrict="reject" mask="999" ng-value="0" />
                    <span class="input-group-addon">Tahun</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="fdAS.PR_LAMA_MENEMPATI_BULAN" restrict="reject" mask="999" ng-value="0" />
                    <span class="input-group-addon">Bulan</span>
                </div>
            </div>
        </div>
    </div>
	
	
    <div class="form-group">
        <label>Biaya Sewa</label>
        <div class="input-group">
            <span class="input-group-addon">Rp</span>
            <input type="text" class="form-control" ng-model="fdAS.DB_BIAYA_SEWA" ui-number-mask="0"/>
        </div>
    </div>
</div>
