<div class="step step-5">
    <a ui-sref-active="active" ui-sref=".index"><span></span> Index</a>
    <!--<a ui-sref-active="active" ui-sref=".2"><span></span> 2</a>
    <a ui-sref-active="active" ui-sref=".3"><span></span> 3</a>-->
    <a ui-sref-active="active" ui-sref=".aset"><span></span> Aset</a>
    <a ui-sref-active="active" ui-sref=".rencanaanggaranbelanja"><span></span> Rencana Anggaran Belanja</a>
    <a ui-sref-active="active" ui-sref=".dokumenrencanaanggaranbelanja"><span></span> Dokumen Rencana Anggaran Belanja</a>
    <a ui-sref-active="active" ui-sref=".executivesummaryomset"><span></span> Executive Summary Omset</a>
</div>