
<div class="col-md-6 col-padding-110 col-has-border-right">
    <div class="form-group">
        <label>Pondasi *</label>
        <select class="form-control" ng-model="fdAS.MS_PONDASI_ID" ng-options="x.MS_PARA_GLOBAL_DETAIL_ID as (x.MS_DESKRIPSI) for x in $root.MS_PONDASI_ID">
            <option></option>
        </select>
    </div>
    <div class="form-group">
        <label>Lantai *</label>
        <select class="form-control" ng-model="fdAS.MS_LANTAI_ID" ng-options="x.MS_PARA_GLOBAL_DETAIL_ID as (x.MS_DESKRIPSI) for x in $root.MS_LANTAI_ID">
            <option></option>
        </select>
    </div>
    <div class="form-group">
        <label>Dinding *</label>
        <select class="form-control" ng-model="fdAS.MS_DINDING_ID" ng-options="x.MS_PARA_GLOBAL_DETAIL_ID as (x.MS_DESKRIPSI) for x in $root.MS_DINDING_ID">
            <option></option>
        </select>
    </div>
    <div class="form-group">
        <label>Plafon *</label>
        <select class="form-control" ng-model="fdAS.MS_PLAFON_ID" ng-options="x.MS_PARA_GLOBAL_DETAIL_ID as (x.MS_DESKRIPSI) for x in $root.MS_PLAFON_ID">
            <option></option>
        </select>
    </div>
</div>
<div class="col-md-6 col-padding-110">
    <div class="form-group">
        <label>Kusen *</label>
        <select class="form-control" ng-model="fdAS.MS_KUSEN_ID" ng-options="x.MS_PARA_GLOBAL_DETAIL_ID as (x.MS_DESKRIPSI) for x in $root.MS_KUSEN_ID">
            <option></option>
        </select>
    </div>
    <div class="form-group">
        <label>Atap *</label>
        <select class="form-control" ng-model="fdAS.MS_ATAP_ID" ng-options="x.MS_PARA_GLOBAL_DETAIL_ID as (x.MS_DESKRIPSI) for x in $root.MS_ATAP_ID">
            <option></option>
        </select>
    </div>
    <div class="form-group">
        <label>Pintu *</label>
        <select class="form-control" ng-model="fdAS.MS_PINTU_ID" ng-options="x.MS_PARA_GLOBAL_DETAIL_ID as (x.MS_DESKRIPSI) for x in $root.MS_PINTU_ID">
            <option></option>
        </select>
    </div>
    <div class="form-group">
        <label>Jendela *</label>
        <select class="form-control" ng-model="fdAS.MS_JENDELA_ID" ng-options="x.MS_PARA_GLOBAL_DETAIL_ID as (x.MS_DESKRIPSI) for x in $root.MS_JENDELA_ID">
            <option></option>
        </select>
    </div>
</div>
