<div class="bx-subnav">
    <ul class="nav nav-tabs nav-center subnav">
        <li>
            <a ui-sref="produklist">
                Produk - List
            </a>
        </li>
        <li>
            <a ui-sref="produk.kategori">
                Produk - Kategori
            </a>
        </li>
        <li>
            <a ui-sref="produk.lokasi">
                Produk - Lokasi
            </a>
        </li>
        <li>
            <a ui-sref="produk.scoring">
                Produk - Scoring
            </a>
        </li>
    </ul>
</div>
