
<div class="col-md-6 col-padding-110">
    <dl class="dl-horizontal">
        <dt>Id Calon Debitur / Debitur </dt>
        <dd>{{fdFDE.CD_ID_DEBITUR}}</dd>
        <dt>Nama Lengkap </dt>
        <dd>{{fdFDE.CD_NAMA_LENGKAP}}</dd>
        <dt>Jenis Pembiayaan</dt>
        <dd>{{fdFDE.CD_JENIS_PEMBIAYAAN}}</dd>
        <dt>Nomor Aplikasi </dt>
        <dd>{{fdFDE.CD_NOMOR_APLIKASI}}</dd>
        <dt>Nomor LKKU</dt>
        <dd>{{fdFDE.CD_NOMOR_LKKU}}</dd>
        <dt>Id Scoring</dt>
        <dd>{{fdFDE.CD_ID_SCORING}}</dd>
        <dt>Hasil MCS</dt>
        <dd>{{fdFDE.CD_HASIL_MCS}}</dd>
    </dl>
</div>

<div class="col-md-6 col-padding-110">
    <dl class="dl-horizontal">
        <dt>Wilayah</dt>
        <dd>{{fdFDE.CD_WILAYAH}}</dd>
        <dt>Cabang</dt>
        <dd>{{fdFDE.CD_CABANG}}</dd>
        <dt>Unit</dt>
        <dd>{{fdFDE.CD_UNIT}}</dd>
        <dt>Nomor MPPM</dt>
        <dd>{{fdFDE.CD_NOMOR_MPPM}}</dd>
        <dt>BWMP Terakhir</dt>
        <dd>{{fdFDE.CD_BWMP_TEKAHIR}}</dd><!--
        <dt>Jabatan BMWP Terakhir</dt>
        <dd>{{fdFDE.CD_JABATAN_BWMP_TERAKHIR}}</dd>
        <dt>Marketing</dt>
        <dd>{{fdFDE.CD_MARKETING}}</dd>-->
    </dl>
</div>

