<div class="container container-fluid container-first container-first-two-nav page-header page-header-form no-padding">
    <div class="col-md-12 col-no-padding">
        <ng-include src=" 'partials/fde/subnav-fde.html' "></ng-include>
    </div>
    <div class="col-md-12 col-no-padding">
        <div class="bx-ph">
            <h1>FDE</h1>
        </div>
    </div>
    <div class="col-md-12 col-no-padding">
        <!--<ng-include src="'partials/fde/fde-step.html'"></ng-include>-->
        <hr class="awesome no-margin">
    </div>
</div>
<div class="container container-body">
    <div class="panel panel-default panel-app">
        <div class="panel-body">
            <ui-view></ui-view>
        </div>
    </div>
</div>