<div class="col-md-6 col-padding-110 col-md-offset-3">
    <div class="form-group">
        <label>Nama Bank *</label>
        <select class="form-control" ng-model="fdFDE.FDE_REKENING_PRIBADI_NAMA_BANK_ID" ng-options="x.MS_PARA_GLOBAL_DETAIL_ID as (x.MS_DESKRIPSI) for x in $root.MS_BANK_ID">
            <option></option>
        </select>
    </div>
    <div class="form-group">
        <label>Kantor Cabang *</label>
        <input type="text" class="form-control" ng-model="fdFDE.FDE_REKENING_PRIBADI_KANTOR_CABANG"/>
    </div>
    <div class="form-group">
        <label>Nomor Rekening *</label>
        <input type="text" class="form-control" ng-model="fdFDE.FDE_REKENING_PRIBADI_NOMOR_REKENING"/>
    </div>
    <div class="form-group">
        <label>a/n Rekening *</label>
        <input type="text" class="form-control" ng-model="fdFDE.FDE_REKENING_PRIBADI_ATAS_NAMA"/>
    </div>
</div>
