<div class="col-md-6 col-padding-110 col-has-border-right">
    <!--div class="form-group">
        <label>Golongan Penjaminan* </label>
        <select class="form-control" ng-model="fdFDE.FDE_SID_GOLONGAN_PENJAMINAN_ID" ng-options="x.MS_PARA_GLOBAL_DETAIL_ID as (x.MS_DESKRIPSI) for x in $root.MS_GOLONGAN_PENJAMINAN_ID">
            <option></option>
        </select>
    </div-->
    <div class="form-group">
        <label>Sifat Penjaminan* </label>
        <select class="form-control" ng-model="fdFDE.FDE_SID_SIFAT_PENJAMINAN_ID" ng-options="x.MS_PARA_GLOBAL_DETAIL_ID as (x.MS_DESKRIPSI) for x in $root.MS_SIFAT_PENJAMINAN_ID">
            <option></option>
        </select>
    </div>
    <!--div class="form-group">
        <label>Jenis Penggunaan* </label>
        <select class="form-control" ng-model="fdFDE.FDE_SID_JENIS_PENGGUNAAN_ID" ng-options="x.MS_PARA_GLOBAL_DETAIL_ID as (x.MS_DESKRIPSI) for x in $root.MS_TUJUAN_PEMBIAYAAN_ID">
            <option></option>
        </select>
    </div-->
    <div class="form-group">
        <label>Sektor Ekonomi* </label>
        <select class="form-control" ng-model="fdFDE.FDE_SID_SEKTOR_EKONOMI_ID" ng-options="x.MS_PARA_GLOBAL_DETAIL_ID as (x.MS_DESKRIPSI) for x in $root.FDE_SEKTOR_EKONOMI_ID">
            <option></option>
        </select>
    </div>
        <div class="form-group">
        	<label>Status Asuransi Agunan* </label>
        		<select class="form-control" ng-model="fdFDE.FDE_SID_STATUS_ASURANSI_AGUNAN_ID" ng-options="x.MS_PARA_GLOBAL_DETAIL_ID as (x.MS_DESKRIPSI) for x in $root.MS_STATUS_ASURANSI_AGUNAN_ID">
            	<option></option>
        		</select>
    	</div>
</div>

<div class="col-md-6 col-padding-110">
    <div class="form-group">
        <label>Golongan Kredit* </label>
        <select class="form-control" ng-model="fdFDE.FDE_SID_GOLONGAN_KREDIT_ID" ng-options="x.MS_PARA_GLOBAL_DETAIL_ID as (x.MS_DESKRIPSI) for x in $root.MS_GOLONGAN_KREDIT_ID">
            <option></option>
        </select>
    </div>
    <div class="form-group">
        <label>Jenis Fasilitas* </label>
        <select class="form-control" ng-model="fdFDE.FDE_SID_JENIS_FASILITAS_ID" ng-options="x.MS_PARA_GLOBAL_DETAIL_ID as (x.MS_DESKRIPSI) for x in $root.MS_JENIS_FASILITAS_ID">
            <option></option>
        </select>
    </div>
</div>