<ul class="thead thead-action list-inline">
    <li>
        <a class="btn btn-success btn-sm" ng-click="modalFVA(); $root.fdFVA={};">Tambah</a>
    </li>
    <li>
        <input type="text" placeholder="Cari"/>
    </li>
    <li>
        Page: {{currentPage}} / {{numPages}}
    </li>
    <li class="right">
        <ul uib-pagination total-items="totalItems"
            ng-model="currentPage"
            ng-change="pageChanged(currentPage)"
            max-size="maxSize" 
            class="pagination-sm" 
            boundary-links="true" 
            num-pages="numPages"
            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
        ></ul>
    </li>
</ul>
<table wt-responsive-table class="table table-hidden-overflow small">
    <tr class="thead">
        <th>Nama Bank</th>
        <th>Nomor Virtual Account</th>
        <th>#</th>
    </tr>
    <tr ng-repeat="x in listFVA">
        <td>{{x.FDE_VA_BANK_DESKRIPSI}}</td>
        <td>{{x.FDE_VA_NOMOR_VIRTUAL_ACCOUNT}}</td>
        <td>
            <a ng-click="editFVA(x.FDE_VA_ID)">Edit</a>
            <a ng-click="deleteFVA(x)">Delete</a>
        </td>
    </tr>
</table>