<div class="step step-4">
    <a ui-sref-active="active" ui-sref=".datafasilitaslama"><span></span> Data Fasilitas Lama (U/ Top Up/Restruktur)</a>
    <a ui-sref-active="active" ui-sref=".rcrusulanrekomendasi"><span></span> RCR Usulan & RCR Rekomendasi</a>
    <!--<a ui-sref-active="active" ui-sref=".rcrusulanrekomendasireviewer"><span></span> RCR Usulan & RCR Rekomendasi</a>-->
    <!--<a ui-sref-active="active" ui-sref=".rcrrekomendasi" ><span></span> RCR Rekomendasi</a>-->
    <a ui-sref-active="active" ui-sref=".analisamodalkerja" ><span></span> Analisa Modal Kerja</a>
    <a ui-sref-active="active" ui-sref=".agunandanscr" ><span></span> Agunan & CCR</a>
</div>