
<div class="col-md-6 col-padding-110">
    <dl class="dl-horizontal">
        <dt>Plafon awal </dt>
        <dd>{{fdFL.PLAFOND_AWAL | number:2}}</dd>
        <dt>Tanggal Pencairan </dt>
        <dd>{{fdFL.TANGGAL_PENCAIRAN}}</dd>
        <dt>Outstanding</dt>
        <dd>{{fdFL.OUTSTANDING | number:2}}</dd>
        <dt>Peruntukan </dt>
        <dd>{{fdFL.PERUNTUKAN}}</dd>
        <dt>Jangka Waktu</dt>
        <dd>{{fdFL.JANGKA_WAKTU}}</dd>
        <dt>Margin / bunga</dt>
        <dd>{{fdFL.MARGIN_BUNGA | number:2}}</dd>
    </dl>
</div>

<div class="col-md-6 col-padding-110">
    <dl class="dl-horizontal">
        <dt>Angsuran</dt>
        <dd>{{fdFL.ANGSURAN}}</dd>
        <dt>Angsuran ke</dt>
        <dd>{{fdFL.ANGSURAN_KE}}</dd>
        <dt>Kolektibilitas</dt>
        <dd>{{fdFL.KOLEKTIBILITAS}}</dd>
        <dt>Tunggakan(hari)</dt>
        <dd>{{fdFL.TUNGGAKAN_HARI}}</dd>
        <dt>DCA</dt>
        <dd>{{fdFL.DCA | number:2}}</dd>
        <dt>Produk</dt>
        <dd>{{fdFL.PRODUK}}</dd>
    </dl>
</div>

