<div class="panel-heading">
    <h4 class="text-center">{{title}}</h4>
</div>
<div class="panel-body">
    <div class="col-md-6 col-padding-110 col-has-border-right">
        <div class="form-group has-min-height">
            <label>Rekomendasi atas usulan pembiayaan yang diajukan</label>
            <ul class="list-inline">
                <li>
                    <input type="radio" name="radiorau" value="YA" ng-model="fdRRK.REKOMENDASI_ATAS_USULAN_PEMBIAYAAN_YANG_DIAJUKAN" />
                    <label>Setuju</label>
                </li>
                <li>
                    <input type="radio" name="radiorau" value="TIDAK" ng-model="fdRRK.REKOMENDASI_ATAS_USULAN_PEMBIAYAAN_YANG_DIAJUKAN" />
                    <label>Tidak Setuju</label>
                </li>
            </ul>
        </div>
        <div class="form-group">
            <label>Struktur pembiayaan</label>
            <dl class="dl-horizontal dt-left">
                <dt>Plafond </dt>
                <dd>{{fdRRK.PLAFOND}}</dd>
                <dt>Margin / Bunga</dt>
                <dd>{{fdRRK.MARGIN_BUNGA}}</dd>
                <dt>Jangka waktu</dt>
                <dd>{{fdRRK.JANGKA_WAKTU}}</dd>
            </dl>
        </div>
        <div class="form-group">
            <label>CCR</label>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="fdRRK.CCR" disabled="disabled"/>
                <span class="input-group-addon">%</span>
            </div>
        </div>

    </div>
    <div class="col-md-6 col-padding-110">
        <div class="form-group">
            <label>Persyaratan dan ketentuan tambahan</label>
            <p ng-repeat="x in listRRK">- {{x.RV_PERSYARATAN_TAMBAHAN}} 
                <a class="pull-right" ng-click="deleteRRK(x)"> Hapus</a>
                <span class="pull-right"> &middot; </span>
                <a class="pull-right" ng-click="editRRK(x.RV_PERSYARATAN_TAMBAHAN_ID)"> Ubah </a>
            </p>
            <textarea class="form-control" ng-model="fdRRK.RV_PERSYARATAN_TAMBAHAN"></textarea>
        </div>
        <div class="form-group" ng-if="REVIEW_SUBMITED != 4">
            <a class="btn btn-success btn-sm" ng-click="postRRK()">Simpan</a>
        </div>
    </div>
</div>
<!--<div class="panel-footer text-center">
    <a class="btn btn-primary btn-sm">Simpan</a>
</div>-->
